:root{
    --primary : #8080D7;
    --secondary : #010922;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    
}

body {
    height: auto;
}
#my-scrollbar{
    height: 100vh;
    overflow: auto;
}

.container {
    width: 100%;
    min-height: 100vh;
    /* padding-left: 8%;
    padding-right: 8%; */
    box-sizing: border-box;
    overflow: hidden;
    background: linear-gradient(#1e1e1e 45%, #ffffff 45%);
}


#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    /* background: rgba(30, 30, 30, 0.33); */
}

#nav-logo {
    width: 51px;
    height: 28.74px;
    cursor: pointer;
    margin : 30px;
    margin-left: 80px;
    transition: 0.5s;
}

#nav-logo:hover {
    transform: translateY(-5px);
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    margin-right: 80px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.nav-content {
    text-decoration: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    transition: 0.5s;
}

.nav-content:hover {
    color: #07056b;
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
    margin-right: 80px;
}

.row {
    display: block ;
    justify-content: center;
    align-items: center;
    /* margin: 100px 0; */
}

.col-1 {
    height: 900px;
    background-image: url('/static/images/web-daf-desktop.png');
    background-position: right top;
    /* background-size: contain; */
    background-repeat: no-repeat;
}

.title-daf{
    margin: 100px 0 auto -100px;
    vertical-align: middle;
}

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

.col-2 {
    height: 800px;
}

.col h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #ffffff; /* nanti diganti */
}

.col-3{
    display: flex;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-bottom: -42px;
}

.col-3 .bandcomp-desktop{
    width: 100%;
    height: 100%;
}

.col-3 .bandcomp-mobile{
    display: none;
}

.col-4 {
    height: auto;
    background-color: #ffffff;

}

.col-4 h2 {
    color : #000000;
}
.vote-row {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

    justify-content: space-around;
    align-items: center;
}

.card {
    width: 336px;
    height: 400px;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    box-sizing: border-box;
}

.card-inner {
    width: 100%;
    height: 100%;;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-inner.is-flipped {
    transform: rotateY(180deg);
}


.vote-box{
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 16px;
    background-color:#B53CFF ;
    box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.33);
}

.card-face-front{
    background-image: url('https://wallpapercave.com/wp/wp2874825.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-face-front h2 {
    color: white;
    font-size: 32px;
}

.card-face-back {
    transform: rotateY(180deg);

}


.vote-video {
    width: 100%;
    height: 200px;
    border-radius: 16px;
    background-color: #B53CFF;
}

.inside-vote-box {
    box-sizing: border-box;
    border-radius: 0px 0px 16px 16px;
    display: block;
    background-color: #000000;
    padding: 20px;
    width: 100%;
    height: 200px;
}

.inside-vote-box h2{
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: white;
}
.inside-vote-box a{
    margin-top: 15px;
    display: block;
    width: 144px;
    height: 48px;
    padding-bottom: 7px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    text-decoration:none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    background-color: #ffffff;
    transition: 0.5s;

}
.inside-vote-box a:hover{
    scale: 1.05;
}

/* FOOTER */
footer {
    margin: -10px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    /* background-color: #B53CFF; */
    min-height: 100px;
    /* padding: 20px 50px; */
    display: inline-block;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background-color: white;
}

footer h2 {
    margin-top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}

#footer-viatrix {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 500px;
    height: auto;
}

footer .social-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10px 0px; */
    flex-wrap: wrap;
}
footer .social-icon li a {
    display: inline-block;
    font-size: 2.5em;
    margin: 0 12px;
    color: #000000;
    transition: 0.5s;
}
footer .social-icon li a:hover{
    transform: translateY(-10px);
}

footer p {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

footer p a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    transition: 0.5s;
}

footer p a:hover {
    transform: translateY(-5px);
}


/* buat mobile */

@media only screen and (max-width: 1100px) {
    .title-daf {
        margin: 100px 0 auto -200px;
    }
}

@media only screen and (max-width: 970px) {
    .title-daf {
        margin: 100px 0 auto -250px;
    }
}

@media only screen and (max-width: 900px) {
    .title-daf {
        margin: 100px 0 auto -260px;
    }
}

@media only screen and (max-width: 820px) {
    .title-daf {
        margin: 500px 0;
        position: relative;
        height: 267px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 768px) {

    .col-1 {
        height: 1300px;
        background-image: url('/static/images/web-daf-mobile.png');
        background-position: center top;

    }
    .title-daf {
        display: block;
        margin:0;
        position: relative;
        height: 267px;
        left: 50%;
        transform: translateX(-50%);
    }

    .col-2 h2{
        font-size: 30px;
    }
    .col-4 .vote-your {
        font-size: 30px;
    }

    nav ul {
        width: 20%;
        /* background-color: white; */
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li {
        list-style: none;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        /* border-style: solid; */
    }
    .nav-content{
        color: white;
    }

    .burger{
        display: block;
    }
    #menu-list {
        overflow: hidden;
        transition: 0.5s;
    }

    .col-3 .bandcomp-mobile{
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .col-3 .bandcomp-desktop{
        display: none;
    }

    footer h2 {
        margin-top: 50px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
    }

    #footer-viatrix {
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        width: 400px;
        height: auto;
    }

    footer .social-icon li a {
        display: inline-block;
        font-size: 2em;
        margin: 0 10px;
        color: #000000;
        transition: 0.5s;
    }

}


