* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, #1e1e1e 50%, #f2f2f2 55%);
    height: auto;
}

.container {
    width: 100%;
    min-height: 100vh;
    /* padding-left: 8%;
    padding-right: 8%; */
    box-sizing: border-box;
    overflow: hidden;
}


#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    /* background: rgba(30, 30, 30, 0.33); */
}

#nav-logo {
    width: 51px;
    height: 28.74px;
    cursor: pointer;
    margin : 30px;
    margin-left: 80px;
    transition: 0.5s;
}

#nav-logo:hover {
    transform: translateY(-5px);
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    margin-right: 80px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.nav-content {
    text-decoration: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    transition: 0.5s;
}

.nav-content:hover {
    color: #07056b;
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
    margin-right: 80px;
}

.row {
    display: block ;
    justify-content: center;
    align-items: center;
    /* margin: 100px 0; */
}

.col-1 {
    height: 800px;
    /* background-image: url('/static/images/web-daf-desktop.png'); */
    /* background-position: center top; */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
}

.col-2 {
    height: 800px;
}

.col h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #ffffff; /* nanti diganti */
}

.col-3 .bandcomp-desktop{
    width: 100%;
    height: 100%;
}

.col-3 .bandcomp-mobile{
    display: none;
}

.col-4 {
    height: auto;
    background-color: #ffffff;

}

.col-4 h2 {
    color : #000000;
}
.vote-row {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

    justify-content: space-around;
    align-items: center;
}

.vote-box{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    display: inline;
    width: 336px;
    height: 400px;
    border-radius: 16px;
    box-sizing: border-box;
    background-color: #B53CFF;
}
.vote-video {
    width: 100%;
    height: 200px;
    border-radius: 16px;
    background-color: #B53CFF;
}

.inside-vote-box {
    box-sizing: border-box;
    border-radius: 0px 0px 16px 16px;
    display: block;
    background-color: #000000;
    padding: 20px;
    width: 100%;
    height: 200px;
}

.inside-vote-box h2{
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: white;
}
.inside-vote-box a{
    margin-top: 15px;
    display: block;
    width: 144px;
    height: 48px;
    padding-bottom: 7px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    text-decoration:none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    background-color: #ffffff;
    transition: 0.5s;

}
.inside-vote-box a:hover{
    scale: 1.05;
}

/* FOOTER */
footer {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    /* background-color: #B53CFF; */
    min-height: 100px;
    /* padding: 20px 50px; */
    display: inline-block;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background-color: white;
}

footer h2 {
    margin-top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

#footer-viatrix {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 649px;
    height: 182px;
}

footer .social-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10px 0px; */
    flex-wrap: wrap;
}
footer .social-icon li a {
    display: inline-block;
    font-size: 3em;
    margin: 0 10px;
    color: #000000;
    transition: 0.5s;
}
footer .social-icon li a:hover{
    transform: translateY(-10px);
}

footer p {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

footer p a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    transition: 0.5s;
}

footer p a:hover {
    transform: translateY(-5px);
}


/* buat mobile */

@media only screen and (max-width: 720px) {

    /* .col-1 {
        background-image: url('/static/images/web-daf-mobile.png');
    } */

    .col-2 h2{
        font-size: 30px;
    }
    .col-4 .vote-your {
        font-size: 30px;
    }

    nav ul {
        width: 20%;
        /* background-color: white; */
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li {
        list-style: none;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        /* border-style: solid; */
    }
    .nav-content{
        color: white;
    }

    .burger{
        display: block;
    }
    #menu-list {
        overflow: hidden;
        transition: 0.5s;
    }

    .col-3 .bandcomp-mobile{
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .col-3 .bandcomp-desktop{
        display: none;
    }

    #footer-viatrix {
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        width: 449px;
        height: 126px;
    }

    footer .social-icon li a {
        display: inline-block;
        font-size: 2em;
        margin: 0 10px;
        color: #000000;
        transition: 0.5s;
    }

}


