*{
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    height: 3718px;
    left: 0px;
    top: 0px;
}
/* body {
    background-color: bisque;
} */

li {
    list-style-type: none;
}

#navbar{
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;

    background: rgba(30, 30, 30, 0.33);
}

#nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    position: relative;
    width: auto;
    height: auto;
    left: calc(50% - 1080px/2 - 0.5px);
    top: 24px;

    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}

#nav-logo{
    /* LOGO */
    width: 51px;
    height: 28.74px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#nav-right-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 50%;
    gap: 20%;

    width: 343px;
    height: 28px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#nav-about{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 138% */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#nav-contact{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 138% */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#nav-vote{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 138%;
    /* identical to box height, or 138% */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

#voting{
    position: absolute;
    width: 100%;
    height: 1033px;
    left: 0px;
    top: 2685px;
    background-color: white;
}

#voteyourfav{
    position: absolute;
    width: 785px;
    height: 48px;
    left: calc(50% - 785px/2);
    /* top: 2712px; */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height, or 133% */

    text-align: center;

    color: #000000;
}
