* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    height: auto;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    /* background: rgba(30, 30, 30, 0.33); */
}

#nav-logo {
    width: 51px;
    height: 28.74px;
    cursor: pointer;
    margin : 30px;
    margin-left: 80px;
    transition: 0.5s;
}

#nav-logo:hover {
    transform: translateY(-5px);
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 100px;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.band_video iframe{
    width:854px; 
    height:480px;
    /* margin: 0 auto; */
}

.band_video{
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
}

.form-box{
    margin: auto;
    display: flex;
    width: 500px;

    align-items: center;
    text-align: center;
    justify-content: center ;
    background-color: #ececec;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#email {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 5px;
    background: none;

    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    transition: 0.5s;
}

.vote_button{
    width: 144px;
    height: 48px;
    padding-bottom: 50px;
    border-radius: 10px;
    text-decoration:none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
    background-color: #010922;
    cursor: pointer;
    transition: 0.5s;
}

/* #email:hover{
    transform: translateY(-10px);
} */

.vote_button:hover{
    transform: translateY(-3px);
}

#error-messages{
    margin-top: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center ;
    text-decoration:none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: red;
    transition: 0.5s;
}
#success-messages{
    margin-top: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center ;
    text-decoration:none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: rgb(44, 250, 44);
    transition: 0.5s;
}

/* FOOTER */
footer {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    /* background-color: #B53CFF; */
    min-height: 100px;
    /* padding: 20px 50px; */
    display: inline-block;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    bottom: 10px;
}

footer h2 {
    margin-top: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: white;
}

#footer-viatrix {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 370px;
    height: auto;
}

footer .social-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10px 0px; */
    flex-wrap: wrap;
}
footer .social-icon li a {
    display: inline-block;
    font-size: 2em;
    margin: 0 12px;
    color: #FFFFFF;
    transition: 0.5s;
}
footer .social-icon li a:hover{
    transform: translateY(-10px);
}

footer p {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
}

footer p a {
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s;
}

footer p a:hover {
    transform: translateY(-5px);
}



@media only screen and (max-width: 768px) {
    .band_video iframe{
        width:560px; 
        height:315px;
    }

    .form-box{
        width: 300px;
    }

    #footer-viatrix {
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        width: 320px;
        height: auto;
    }

    footer .social-icon li a {
        display: inline-block;
        font-size: 2em;
        margin: 0 10px;
        color: #ffffff;
        transition: 0.5s;
    }
} 
