<html>
<body style="background: black; margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">

    <div style="margin: 0 auto; width: 90%; text-align: center;">
        
        <div style="margin: 30px auto; background: white; width: 40%; border-radius: 10px; padding: 50px; text-align: center;">
            
            <h3 style="color:black; margin-bottom: 100px; font-size: 24px;">
                {{ title }}
            </h3>
            
            <p style="margin-bottom: 30px; color:black;">
                {{ message }}
            </p>
        </div>
    </div>

</body>
</html>