<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmadaFiesta</title>
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/smadafiesta-3df34.appspot.com/o/logo%2Flogo%20fw%201b1.png?alt=media&token=0dd88ae8-9c92-4aef-a107-f1fccd9cbc5f">
    <link href="{{ url_for('static', path='index.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">

        <div class="row">

            <div class="col-1 col" id="col-1">
                <div id="navbar">
                    <a href="{{ url_for('index') }}" id="nav-logo">
                        <img src="{{ url_for('static', path='/images/LOGO.png') }}" alt="SmadaFiesta">
                    </a>
                    <nav>                      
                        <ul id="menu-list">
                            <li><a href="#col-2" class="nav-content">Ticket</a>
                            <li><a href="#social-media" class="nav-content">Contact</a>
                            <li><a href="#col-4" class="nav-content">Vote</a>
                        </ul> 
                    </nav>
                    <div class="burger" onclick="togglemenu()">
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                </div>
                <div class="parallax">
                    <img src="https://firebasestorage.googleapis.com/v0/b/smadafiesta-3df34.appspot.com/o/parallax%2Fbg.png?alt=media&token=b94e7735-be2c-4e32-88f0-a89fac171ef6" id="prx_bg" alt="Background">
                    <img src="https://firebasestorage.googleapis.com/v0/b/smadafiesta-3df34.appspot.com/o/parallax%2Fmoon.png?alt=media&token=c46ec9b1-9743-45c4-94fd-3f572028b1d5" id="moon" alt="Moon">
                    <img src="https://firebasestorage.googleapis.com/v0/b/smadafiesta-3df34.appspot.com/o/parallax%2Fcloud.png?alt=media&token=018c196c-4f29-4ee3-a5bf-e8c3e82469a2" id="cloud" alt="Cloud">
                    <img src="https://firebasestorage.googleapis.com/v0/b/smadafiesta-3df34.appspot.com/o/parallax%2Fsman2.png?alt=media&token=2d0c4e3e-8dc4-4f22-bef5-54cb59a195e9" id="rocks" alt="SMA Negeri 2">
                    <img src="https://firebasestorage.googleapis.com/v0/b/smadafiesta-3df34.appspot.com/o/parallax%2FguestStar.png?alt=media&token=e1ed35b2-531a-4615-8a6e-b34cdb6387cc" id="prx_text" alt="Guest Star">
                    <!-- <h1 id="prx_text">SMADAFIESTA</h1> -->
                </div>
                <!-- <img src="{{ url_for('static', path='/images/tittle_daf.png') }}" alt="title-daf" class="title-daf"> -->
                
            </div>


            <div class="col-2 col" id="col-2">
                <h2 class="reveal"> Ticket </h2>

                


            </div>
            
            <div class="col-3 col" id="col-3">
                <img src="{{ url_for('static', path='/images/web-bandcomp-desktop.png') }}" alt="Bandcomp" class="bandcomp-desktop">
                <img src="{{ url_for('static', path='/images/web-bandcomp-mobile.png') }}" alt="Bandcomp" class="bandcomp-mobile">
                <div class="transition-box"></div>
            </div>
            
            <div class="col-4 col" id="col-4">
                <h2 class="vote-your reveal">Vote your favorite performance!</h2>
                
                <div class="vote-row">

                {% for band in bands %}
                    <div class="card reveal">
                        <div class="card-inner">
                            <div class="vote-box card-face-front">
                                <h2>{{band['name']}}</h2>
                            </div>

                            <div class="vote-box card-face-back">
                                <div class="vote-video">
                                    <img class="band_image" src="{{band['image']}}" alt="{{band['name']}}">
                                </div>
                                <div class="inside-vote-box">
                                    <h2>{{band['name']}}</h2>
                                    <a href="{{ url_for('band_video')}}?band_id={{loop.index}}" type="button">Vote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                </div>
            </div>
        </div>

    </div>
    
    <footer class="reveal">
        <h2>SMADAFIESTA</h2>
        <img src="{{ url_for('static', path='/images/viatrix.png') }}" alt="SmadaFiesta" id="footer-viatrix">

        <ul class="social-icon" id="social-media">
            <li><a href="https://instagram.com/smadaf2k22?igshid=YmMyMTA2M2Y="><ion-icon name="logo-instagram"></ion-icon></a></li>
            <li><a href="https://www.tiktok.com/@areksmada?_t=8Up7HtlYvDu&_r=1"><ion-icon name="logo-tiktok"></ion-icon></a></li>
            <li><a href="https://twitter.com/smadaf2k22?t=n-5qrV_guJcLAiiUBvTnsQ&s=09"><ion-icon name="logo-twitter"></ion-icon></a></li>
            <li><a href="https://youtube.com/c/SmadaFiesta"><ion-icon name="logo-youtube"></ion-icon></a></li>
        </ul>
        <p>Copyright &copy; 2022 <a href="{{ url_for('index') }}">SmadaFiesta</a>, Developed by <a href="https://github.com/kittyofheaven">Hazel Handrata</a>, Designed by <a href="https://instagram.com/marvinsavioz">Marvin Savio</a></p>
    </footer>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- <script src="{{url_for('static', path='/smooth-scrollbar.js')}}"></script> -->
    <script>

        let bg = document.querySelector('#prx_bg');
        let moon = document.querySelector('#moon');
        let cloud = document.querySelector('#cloud');
        let rocks = document.querySelector('#rocks');
        let text = document.querySelector('#prx_text');

        window.addEventListener('scroll', function() {
            let value = window.scrollY;
            bg.style.top = value * 0.5 + 'px';
            moon.style.left = -value * 0.5 + 'px';
            cloud.style.top = -value * 0.15 + 'px';
            rocks.style.top = value * 0.15 + 'px';
            text.style.top = value * 1 + 'px';
        })



        window.addEventListener('scroll', reveal);
        function reveal(){
            var reveals = document.querySelectorAll('.reveal');

            for(var i = 0; i < reveals.length; i++){

                var windowheight = window.innerHeight;
                var revealtop = reveals[i].getBoundingClientRect().top;
                var revealpoint = 150;

                if(revealtop < windowheight - revealpoint){
                    reveals[i].classList.add('active');
                }
                else{
                    reveals[i].classList.remove('active');
                }
            }
        }


        // var Scrollbar = window.Scrollbar;
        // Scrollbar.init(document.querySelector('#my-scrollbar'));


        


        const card = document.querySelectorAll('.card-inner');

        card.forEach(card => {
            card.addEventListener('click', function(){
                card.classList.toggle('is-flipped');
            });
        });

        

        var menuList = document.getElementById("menu-list");
        // menuList.style.maxHeight = "0px";

        function togglemenu(){
            if (x.matches) {
                if(menuList.style.maxHeight == "0px"){
                    menuList.style.maxHeight = "130px";
                }
                else{
                    menuList.style.maxHeight = "0px";
                }
            }
            else {
                
            }
        }

        var x = window.matchMedia("(max-width: 768px)")
        togglemenu(x) // Call listener function at run time
        x.addListener(togglemenu) // Attach listener function on state changes
    </script>

</body>
</html>
