<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmadaFiesta</title>
    <link href="{{ url_for('static', path='index.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-1 col" id="col-1" background = "{{ url_for('static', path='/images/web-daf-desktop.png') }}">
                <div id="navbar">
                    <a href="{{ url_for('index') }}" id="nav-logo">
                        <img src="{{ url_for('static', path='/images/LOGO.png') }}" alt="SmadaFiesta">
                    </a>
                    <nav>                      
                        <ul id="menu-list">
                            <li><a href="#col-2" class="nav-content">About</a>
                            <li><a href="#social-media" class="nav-content">Contact</a>
                            <li><a href="#col-4" class="nav-content">Vote</a>
                        </ul> 
                    </nav>
                    <div class="burger" onclick="togglemenu()">
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                </div>
                <img src="{{ url_for('static', path='/images/tittle_daf.png') }}" alt="title-daf" class="title-daf">
                
            </div>


            <div class="col-2 col" id="col-2">
                <h2> About </h2>
            </div>
            
            <div class="col-3 col" id="col-3">
                <img src="{{ url_for('static', path='/images/web-bandcomp-desktop.png') }}" alt="Bandcomp" class="bandcomp-desktop">
                <img src="{{ url_for('static', path='/images/web-bandcomp-mobile.png') }}" alt="Bandcomp" class="bandcomp-mobile">
            </div>
            
            <div class="col-4 col" id="col-4">
                <h2 class="vote-your">Vote your favorite performance!</h2>
                
                <div class="vote-row">

                    <div class="card">
                        <div class="card-inner">
                            <div class="vote-box card-face-front">
                                <h2>#1</h2>
                            </div>

                            <div class="vote-box card-face-back">
                                <div class="vote-video"></div>
                                <div class="inside-vote-box">
                                    <h2>Kompetitor #1</h2>
                                    <a href="#" type="button">Vote</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-inner">
                            <div class="vote-box card-face-front">
                                <h2>#2</h2>
                            </div>

                            <div class="vote-box card-face-back">
                                <div class="vote-video"></div>
                                <div class="inside-vote-box">
                                    <h2>Kompetitor #2</h2>
                                    <a href="#" type="button">Vote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-inner">
                            <div class="vote-box card-face-front">
                                <h2>SMADA BIG BANG</h2>
                            </div>

                            <div class="vote-box card-face-back">
                                <div class="vote-video"></div>
                                <div class="inside-vote-box">
                                    <h2>Smada Big Bang</h2>
                                    <a href="#" type="button">Vote</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-inner">
                            <div class="vote-box card-face-front">
                                <h2>SMADA LITTLE KIDS</h2>
                            </div>

                            <div class="vote-box card-face-back">
                                <div class="vote-video"></div>
                                <div class="inside-vote-box">
                                    <h2>Smada Little Kids</h2>
                                    <a href="#" type="button">Vote</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-inner">
                            <div class="vote-box card-face-front">
                                <h2>#5</h2>
                            </div>

                            <div class="vote-box card-face-back">
                                <div class="vote-video"></div>
                                <div class="inside-vote-box">
                                    <h2>Kompetitor #5</h2>
                                    <a href="#" type="button">Vote</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-inner">
                            <div class="vote-box card-face-front">
                                <h2>#6</h2>
                            </div>

                            <div class="vote-box card-face-back">
                                <div class="vote-video"></div>
                                <div class="inside-vote-box">
                                    <h2>Kompetitor #6</h2>
                                    <a href="#" type="button">Vote</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-inner">
                            <div class="vote-box card-face-front">
                                <h2>#7</h2>
                            </div>

                            <div class="vote-box card-face-back">
                                <div class="vote-video"></div>
                                <div class="inside-vote-box">
                                    <h2>Kompetitor #7</h2>
                                    <a href="#" type="button">Vote</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                    

                </div>
            </div>
        </div>

    </div>
    
    <footer>
        <h2>SMADAFIESTA</h2>
        <img src="{{ url_for('static', path='/images/viatrix.png') }}" alt="SmadaFiesta" id="footer-viatrix">

        <ul class="social-icon" id="social-media">
            <li><a href="https://instagram.com/smadaf2k22?igshid=YmMyMTA2M2Y="><ion-icon name="logo-instagram"></ion-icon></a></li>
            <li><a href="https://www.tiktok.com/@areksmada?_t=8Up7HtlYvDu&_r=1"><ion-icon name="logo-tiktok"></ion-icon></a></li>
            <li><a href="https://twitter.com/smadaf2k22?t=n-5qrV_guJcLAiiUBvTnsQ&s=09"><ion-icon name="logo-twitter"></ion-icon></a></li>
            <li><a href="https://youtube.com/c/SmadaFiesta"><ion-icon name="logo-youtube"></ion-icon></a></li>
        </ul>
        <p>Copyright &copy; 2022 <a href="{{ url_for('index') }}">SmadaFiesta</a>, Developed by <a href="https://github.com/kittyofheaven">Hazel Handrata</a></p>
    </footer>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>

        const card = document.querySelectorAll('.card-inner');

        card.forEach(card => {
            card.addEventListener('click', function(){
                card.classList.toggle('is-flipped');
            });
        });

        

        var menuList = document.getElementById("menu-list");
        // menuList.style.maxHeight = "0px";

        function togglemenu(){
            if (x.matches) {
                if(menuList.style.maxHeight == "0px"){
                    menuList.style.maxHeight = "130px";
                }
                else{
                    menuList.style.maxHeight = "0px";
                }
            }
            else {
                
            }
        }

        var x = window.matchMedia("(max-width: 768px)")
        togglemenu(x) // Call listener function at run time
        x.addListener(togglemenu) // Attach listener function on state changes
    </script>

</body>
</html>