<html>
<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">
<div style="width: 100%; background: black; border-radius: 10px; padding: 10px;">
    
    <div style="margin: 0 auto; width: 90%; text-align: center;">
        <h1 style="background-color: #2E0249; padding: 5px 10px; border-radius: 5px; color: white;">
            {{ title }}
        </h1>
        
        <div style="margin: 30px auto; background: white; width: 40%; border-radius: 10px; padding: 50px; text-align: center;">
            
            <h3 style="color:black; margin-bottom: 100px; font-size: 24px;">
                Thanyou for your vote!
            </h3>
            
            <p style="margin-bottom: 30px; color:black;">
                Hi {{ name }}. Thanks for your confirmation to vote {{ vote_who }}, we have recorded your vote.
            </p>
        </div>
    </div>
</div>
</body>
</html>