<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmadaFiesta: {{ title }}</title>
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/smadafiesta-3df34.appspot.com/o/logo%2Flogo%20fw%201b1.png?alt=media&token=0dd88ae8-9c92-4aef-a107-f1fccd9cbc5f">
    <link href="https://smadafiesta2k22.com/static/video_template.css" rel="stylesheet">
</head>
<body>
    <div id="navbar">
        <a href="https://smadafiesta2k22.com/" id="nav-logo">
            <img src="https://smadafiesta2k22.com/static/images/LOGO.png" alt="SmadaFiesta">
        </a>
    </div>
    <div class="container">
        <!-- <div class="band_video">
            <iframe src="https://www.youtube.com/embed/{{band_link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> -->

        <form class="form-box" id="form-box">
            <input type="email" id="email" class="email" name="email" placeholder="Enter Your Email To Vote">
            <button class="vote_button" type="submit">Vote</button>
        </form>

        <h2 id="error-messages"></h2>
        <h2 id="success-messages"></h2>

    </div>

    <footer>
        <h2>SMADAFIESTA</h2>
        <img src="https://smadafiesta2k22.com/static/images/viatrix-dark.png" alt="SmadaFiesta" id="footer-viatrix">

        <ul class="social-icon" id="social-media">
            <li><a href="https://instagram.com/smadaf2k22?igshid=YmMyMTA2M2Y="><ion-icon name="logo-instagram"></ion-icon></a></li>
            <li><a href="https://www.tiktok.com/@areksmada?_t=8Up7HtlYvDu&_r=1"><ion-icon name="logo-tiktok"></ion-icon></a></li>
            <li><a href="https://twitter.com/smadaf2k22?t=n-5qrV_guJcLAiiUBvTnsQ&s=09"><ion-icon name="logo-twitter"></ion-icon></a></li>
            <li><a href="https://youtube.com/c/SmadaFiesta"><ion-icon name="logo-youtube"></ion-icon></a></li>
        </ul>
        <p>Copyright &copy; 2022 <a href="https://smadafiesta2k22.com/">SmadaFiesta</a>, Developed by <a href="https://github.com/kittyofheaven">Hazel Handrata</a></p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script>

    $( document ).ready(function() {

        // https://youtu.be/In0nB0ABaUk

        const who = "{{ who }}";    
        const api_link = "https://smadafiesta2k22.com/bandcomp/send-email";

        const email = document.getElementById('email');
        const form = document.getElementById('form-box');
        const error_messages = document.getElementById('error-messages');
        const success_messages = document.getElementById('success-messages');
        

        form.addEventListener('submit', (e) => {

            let messages = []
            if (email.value === '' || email.value == null) {
                messages.push('Email is required');
            }

            if (email.value.indexOf('.') === -1) {
                messages.push('Email is invalid');
            }

            if (messages.length > 0) {
                e.preventDefault();
                // console.log(messages);
                error_messages.innerText = messages.join(', ');
                
            } 
            
            // console.log(email.value);
            // console.log(api_link)
            else {
                e.preventDefault();

                // console.log(typeof who)
                // console.log(typeof api_link)
                // console.log(typeof email.value)

                $.ajax({
                    url: api_link,
                    type: 'post',
                    data: JSON.stringify({'email': email.value ,'who': who}),

                    contentType: "application/json",  
                    dataType: 'json',

                    success: function(response) {
                        console.log(response['status']);
                        error_messages.innerText = "";
                        success_messages.innerText = "An email verification link has been sent to your email, if not kindly check your spam folder";
                    },

                    error: function(response){
                        error = response['responseJSON']['status'];
                        messages.push(error);
                        success_messages.innerText = "";
                        error_messages.innerText = messages.join(', ');
                    }

                });

                // console.log(bk_response.responseJSON);
                // console.log($parseJSON(bk_response.responseJSON));
            }
            
        });



    });

        
    </script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



</body>
</html>